<div class="calendar_wrap">
	<table class="">
	<caption>Апрель 2017</caption>
	<thead>
	<tr>
		<th scope="col" title="Понедельник">Пн</th>
		<th scope="col" title="Вторник">Вт</th>
		<th scope="col" title="Среда">Ср</th>
		<th scope="col" title="Четверг">Чт</th>
		<th scope="col" title="Пятница">Пт</th>
		<th scope="col" title="Суббота">Сб</th>
		<th scope="col" title="Воскресенье">Вс</th>
	</tr>
	</thead>

	<tfoot>
	<tr>
		<td colspan="3" id="prev"><a href="#">&laquo; Март</a></td>
		<td class="pad"></td>
		<td colspan="3" id="next" class="pad"><a href="#">Май &raquo;</a></td>
	</tr>
	</tfoot>

	<tbody>
	<tr>
		<td colspan="2" class="pad">&nbsp;</td><td><a href="#" >1</a></td><td>2</td><td><a href="#" >3</a></td><td>4</td><td>5</td>
	</tr>
	<tr>
		<td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
	</tr>
	<tr>
		<td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td>
	</tr>
	<tr>
		<td>20</td><td>21</td><td><a href="#" >22</a></td><td>23</td><td>24</td><td>25</td><td>26</td>
	</tr>
	<tr>
		<td>27</td><td><a href="#">28</a></td><td>29</td><td><a href="#" >30</a></td><td>31</td>
		<td class="pad" colspan="2">&nbsp;</td>
	</tr>
	</tbody>
	
</table>
	
</div>
