<nav>
	<div class="foot-wrapper">
		<div class="foot-nav-item">
			<h4>О компании</h4>
			<ul>
				<li><a href="#">Часто задаваемые вопросы</a></li>
				<li><a href="#">О нашей компании</a></li>
				<li><a href="#">Оказываемые услуги</a></li>
				<li><a href="#">Свидетельства и сертификаты</a></li>
			</ul>
		</div>
		<div class="foot-nav-item">
			<h4>Помощь и поддержка</h4>
			<ul>
				<li><a href="#">Часто задаваемые вопросы</a></li>
				<li><a href="#">Техподдержка</a></li>
				<li><a href="#">Пожелания</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
		<div class="foot-nav-item">
		<h4>Образцы документов</h4>
			<ul>
				<li><a href="#">Типовой договор аренды</a></li>
				<li><a href="#">Типовой договор покупки</a></li>
				<li><a href="#">lorem ipsum</a></li>
				<li><a href="#">Впоросы?</a></li>
			</ul>
		</div>
		<div class="foot-nav-item">
			<h4>Социальные сети</h4>
			<ul>
				<li><a href="#">Vkontakte</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Ok</a></li>
				<li><a href="#">Google+</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="subfoo">
	© 2017 Minsk,Belarus. <a href="">Real estate agency Grand</a>. All rights reserved.
	<br>
	Made with love for a better web. 
</div>