<h2 style="text-align: center;">Аренда недвижимости</h2>
		<div class="offerwrap">

			<div class="offer-item">
			    <div class="offer-head">Коммерческая недвижимость</div>
				<div class="offer-body">
					<ul>
						<li><a href="/search/rent-commercial/offices">Аренда Офисов</a></li>
						<li><a href="/search/rent-commercial/shops">Аренда магазинов</a></li>
						<li><a href="/search/rent-commercial/skald">Аренда склада</a></li>
						<li><a href="/search/rent-commercial/">Помещение сферы услуг</a></li>
						<li><button class="btn btn-success btn-sm">Разместить</button></li>
					</ul>
				</div>
			</div>
			<div class="offer-item">
				<div class="offer-head">Жилая недвижимость</div>
				<div class="offer-body">
					<ul>
						<li><a href="/search/rent-living/">Дома и котеджи</a></li>
						<li><a href="/search/rent-living/">Снять квартиру</a></li>
						<li><a href="/search/rent-living/">Элитные квартиры</a></li>
						<li><a href="/search/rent-living/">Квартиры на сутки</a></li>
						<li><button class="btn btn-success btn-sm">Разместить</button></li>
					</ul>
				</div>
			</div>
			<!-- <div class="offer-item">
				<div class="offer-head">Покупка недвижимости</div>
				<div class="offer-body">
					<ul>
						
						<li><a href="#">Дома и котеджи</a></li>
						<li><a href="#">Купить квартиру</a></li>
						<li><a href="#">1-к квартиры</a></li>
						<li><a href="#">2-к квартры</a></li>
						<li><button class="btn btn-success btn-sm">Разместить</button></li>
					</ul>
				</div>
			</div> -->
			<div class="offer-item">
				<div class="offer-head">Загородная недвижимость</div>
				<div class="offer-body">
					<ul>
						<li><a href="/search/rent-outcity/">Участки земли</a></li>
						<li><a href="/search/rent-outcity/">Усадьбы</a></li>
						<li><a href="/search/rent-outcity/">Дома</a></li>
						<li><a href="/search/rent-outcity/">Дачи</a></li>
						<li><button class="btn btn-success btn-sm">Разместить</button></li>
					</ul>
				</div>
			</div>
		</div><!--ooferwrap-->