<h2 style="text-align: center;">Аренда недвижимости</h2>
<div class="offerwrap">

	<div class="offer-item">
	    <div class="offer-head">Коммерческая недвижимость</div>
		<div class="offer-body">
			<ul>
				<li><a href="/search/rent/commercial/offices">Аренда Офисов</a></li>
				<li><a href="/search/rent/commercial/shops">Аренда магазинов</a></li>
				<li><a href="/search/rent/commercial/skald">Аренда склада</a></li>
				<li><a href="/search/rent/commercial/">Помещение сферы услуг</a></li>
				<li><button class="btn btn-success btn-sm">Разместить</button></li>
			</ul>
		</div>
	</div>
	<div class="offer-item">
		<div class="offer-head">Жилая недвижимость</div>
		<div class="offer-body">
			<ul>
				<li><a href="/search/rent/houses/">Дома и котеджи</a></li>
				<li><a href="/search/rent/flats/">Снять квартиру</a></li>
				<li><a href="/search/rent/flats/">Элитные квартиры</a></li>
				<li><a href="/search/rent/flats/">Квартиры на сутки</a></li>
				<li><button class="btn btn-success btn-sm">Разместить</button></li>
			</ul>
		</div>
	</div>
	
	<div class="offer-item">
		<div class="offer-head">Загородная недвижимость</div>
		<div class="offer-body">
			<ul>
				<li><a href="/search/rent/grounds/">Участки земли</a></li>
				<li><a href="/search/rent/houses/">Усадьбы</a></li>
				<li><a href="/search/rent/houses/">Дома</a></li>
				<li><a href="/search/rent/houses/">Дачи</a></li>
				<li><button class="btn btn-success btn-sm">Разместить</button></li>
			</ul>
		</div>
	</div>
</div><!--ooferwrap-->