<div class="search_item">
	<a href="/show">
		<div class="s_item_image">
			<img src="static/img/flats/flat11.jpg" alt="изображение временно недоступно">
		</div>
	</a>
	<div class="s_item_description">
		<div class="item-name">Независимости пр 56, к28</div>
		<div class="item-price">2300 BYN</div>
		<div>Квартира: 2 комнаты</div>
		<span>43</span><img src="static/img/eye.png" width="20px" height="20px;">
		<span>рейт&#9733; &#9733; &#9733; &#9733;</span>
		<span><a href="profile.html">Антон</a></span><span>+375-29-451-77-86</span>
	</div>
</div>