<div class="w3-row">
                
                <a href="javascript:void(0)" onclick="openCity(event, 'step1');">
                    <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Шаг 1</div>
                </a>
                
                <a href="javascript:void(0)" onclick="openCity(event, 'step2');">
                    <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Шаг 2</div>
                </a>
                
                <a href="javascript:void(0)" onclick="openCity(event, 'step3');">
                    <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Шаг 3</div>
                </a>
</div>