<br><br>
                    <h4> Укажите Удобства</h4>
                    <label>Мебель есть
                        <input type="radio" name="furniture" id="filter-mebel-true" value="1">
                        нет<input type="radio" name="furniture" id="filter-mebel-false" value="0">
                    </label>
                    <br>

                    <label>Домофон есть
                        <input type="radio" name="doorPhone" id="filter-domofon-true" value="1">
                        нет<input type="radio" name="doorPhone" id="filter-domofon-false" value="0">
                    </label>
                    <br>

                    <label>Стиральная машина есть
                        <input type="radio" name="washingMachine" id="filter-washmachine-true" value="1">
                        нет<input type="radio" name="washingMachine" id="filter-washmachine-false" value="0">
                    </label>
                    <br>

                    <label>Кондиционер есть
                        <input type="radio" name="conditioner" id="filter-cond-true" value="1">
                        нет<input type="radio" name="conditioner" id="filter-cond-false" value="0">
                    </label>
                    <br>

                    <label>Лифт есть
                        <input type="radio" name="elevator" id="filter-elev-true" value="1">
                        нет<input type="radio" name="elevator" id="filter-elev-false" value="0">
                    </label>
                    <br>

                    <label>Телевизор есть
                        <input type="radio" name="tv" id="filter-tv-true" value="1">
                        нет<input type="radio" name="tv" id="filter-tv-false" value="0">
                    </label>
                    <br>

                    <label>WIFI есть
                        <input type="radio" name="wifi" id="filter-wifi-true" value="1">
                        нет<input type="radio" name="wifi" id="filter-wifi-false" value="0">
                    </label>
                    <br>               
                