*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	height: 60px;
	width:100%;
	border-bottom: 1px solid #dadada;
	background-color: #fff;
}

header a{
	text-decoration: none !important;
	color: #555 !important;
	display: block !important;
}

header a:hover{
	color:#008ed6 !important;
}

header ul{
	height: 60px;
	display: flex;
	justify-content: flex-end;
	list-style: none;
	align-items: center;
}

header ul >li{
	font-size: 16px;
	color: #454545;
	line-height: 59px;
	font-family: 'Open Sans',sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 1px;
}

header ul>li:hover{
	background-color: #F5F4F4;
}



/*************************************************************************************/



body{
	background-color: #F2F2F2;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/*************************************************************************************/




main{
	min-height: 500px;
	width: 100%;
}


/*************************************************************************************/
/*show page*/
.wrslider{
	margin-top:20px;
	width: 100%;
	height: 400px;/*??????*/
	display: flex;
	justify-content: space-between;
}

.slbig{
	width: 70%;
	height: inherit;
}

.slbig>img{
	width: 100%;
	height: 99%;
}

.slpreviev{
	width: 29%;
}

.slpreviev>img{
	width: 49%;
	height: 95px;
	margin-bottom: 5px;
	cursor: pointer;
}

.slpreviev>img{

}

/*************************************************************************************/
.descwrap{
	display: flex;

}
.descwrap>div{
	width: 50%;
}
.descwrap>.description{
	font-size: 18px;
}

.address{
	font-size: 18px;
}
/*.address{
	display: flex;

}
.address>div{
	width: 50%;
}*/


.comment-item{
	width: 70%;
	margin-bottom: 20px;

	display: flex;
	justify-content: space-between;
}
.commetn-image{
	width: 10%;
	
}
.commnet-image{
	font-weight: bold;
}
.comment-description{
	width: 89%;
	font-size: 18px;

}
/*************************************************************************************/
.offerwrap{
	width: 78%;
	margin:30px 10%;
	margin-top:70px;
	margin-bottom: 70px;
	display: flex;
	justify-content: space-between;

}

.offer-head{
	font-size: 18px;
	margin-bottom: 10px;
}

.offer-body>ul>li{
	list-style: none;
	text-align: center;
}
.offer-body>ul>li:last-child{
	padding-top: 10px;
}
/*************************************************************************************/



footer{
	background-color: #E5E5E5;
	color: #777;
	font-size: 14px;
}

footer>nav{
	width: 100%;
	background-color: #EEEEEE;
	border-top:4px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	padding-bottom: 10px;
}
.foot-wrapper{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content:space-between; 
	margin-top: 15px;
}

.foot-nav-item{
	width: 20%;
}

footer ul li{
	list-style: none;
	margin-bottom: 6px;
}

footer a {
	color: #888888;
	transition: all 0.25s ease 0s;
	text-decoration: none;
}

footer a:hover{
	color:#222222;
}

footer h4{
	border-bottom: 1px dotted #bbb;
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 10px;
	padding-bottom: 10px;
	color: #333;
}

.subfoo{
	padding: 40px 0;
	width: 80%;
	text-align: center;
	margin: 0 10%;
}