<!-- views/add.ejs -->
<!doctype html>
<html lang="ru">
<head>
    <% include ../partials/head %>
</head>
<body>
    <!--header-->
    <% include ../partials/header %>

    <main class="widthfull">
        <section class="width80">
        <h2>Добавление нового объекта</h2>
           
                <% include ../partials/steps %>

                <div id="step1" class="w3-container city" style="display:block">
                    <% include ../partials/step1 %>
                </div>

                <div id="step2" class="w3-container city" style="display:none">
                    <% include ../partials/step2 %>
                </div>

                <div id="step3" class="w3-container city" style="display:none">
                    <button type="submit">Send</button>
                    </form>
                </div>
                <!--
                <% include ../partials/steps %>
                -->
            <!-- </div> --><!---->
        </section>
    </main>

    <!--footer-->
    <% include ../partials/footer %>
    
    <script type="text/javascript" src="static/js/tabchanger.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.js" ></script>
</body>
</html>