<!-- views/index.ejs -->
<!doctype html>
<html lang="ru">
<head>
    <% include ../partials/head %>
</head>
<body>
	<!--header-->
	<% include ../partials/header %>

	<main class="widthfull">
		<% include ../partials/index-slider %>

		<h1 style="text-align: center;">Агентство недвижимости Grand </h1>

		<% include ../partials/rent-part  %>
		<% include ../partials/sell-part %>
		
	</main>

    <!-- <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Node Authentication</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div> -->

    <!--footer-->
    <% include ../partials/footer %>
    <script type="text/javascript" src="static/js/slider.js"></script>
</body>
</html>