<!-- views/index.ejs -->
<!doctype html>
<html lang="ru">
<head>
    <% include ../partials/head %>
</head>
<body>
    <!--header-->
    <% include ../partials/header %>

    <main>
		<div class="slider-container">
			<ul id="slides">
				<li class="slide showing"><img src="static/img/flats/flat4.jpg"></li>
				<li class="slide"><img src="static/img/flats/flat8.png"></li>
				<li class="slide"><img src="static/img/flats/flat3.jpg"></li>
			</ul>
			<!-- <div class="buttons">
				<button class="controls" id="previous">&lt;</button>

				<button class="controls" id="pause">&#10074;&#10074;</button>

				<button class="controls" id="next">&gt;</button>
			</div> -->
		</div>
        <h1 style="text-align: center;">Агентство недвижимости Grand </h1>
        <div class="offerwrap">

            <div class="offer-item">
                <div class="offer-head">Коммерческая недвижимость</div>
                <div class="offer-body">
                    <ul>
                        <li><a href="#">Аренда помещений</a></li>
                        <li><a href="#">Покупка помещений</a></li>
                        <li><a href="#">Офисы</a></li>
                        <li><a href="#">Склады</a></li>
                        <li><button class="btn btn-success btn-sm">Разместить</button></li>
                    </ul>
                </div>
            </div>
            <div class="offer-item">
                <div class="offer-head">Аренда недвижимости</div>
                <div class="offer-body">
                    <ul>
                        <li><a href="#">Дома и котеджи</a></li>
                        <li><a href="#">Снять квартиру</a></li>
                        <li><a href="#">Элитные квартиры</a></li>
                        <li><a href="#">Квартиры на сутки</a></li>
                        <li><button class="btn btn-success btn-sm">Разместить</button></li>
                    </ul>
                </div>
            </div>
            <div class="offer-item">
                <div class="offer-head">Покупка недвижимости</div>
                <div class="offer-body">
                    <ul>
                        <!-- новостройки-->
                        <li><a href="#">Дома и котеджи</a></li>
                        <li><a href="#">Купить квартиру</a></li>
                        <li><a href="#">1-к квартиры</a></li>
                        <li><a href="#">2-к квартры</a></li>
                        <li><button class="btn btn-success btn-sm">Разместить</button></li>
                    </ul>
                </div>
            </div>
            <div class="offer-item">
                <div class="offer-head">Загородная недвижимость</div>
                <div class="offer-body">
                    <ul>
                        <li><a href="#">Участки земли</a></li>
                        <li><a href="#">Усадьбы</a></li>
                        <li><a href="#">Дома</a></li>
                        <li><a href="#">Дачи</a></li>
                        
                        <li><button class="btn btn-success btn-sm">Разместить</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <!-- <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Node Authentication</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div> -->

    <!--footer-->
    <% include ../partials/footer %>
    <script type="text/javascript" src="static/js/slider.js"></script>
</body>
</html>