<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<!--header-->
    <% include ../partials/header %>

	<section class="profile">
		<div class="card">
			<div class="card-img">
				<img src="static/img/avatars/avatar2.jpg" >
			</div>
			<div class="card-name">Алексей Давыдов</div>
			<div class="card-city">
			<span>Минск</span>
			</div>
			<div class="card-descr">
				Давыдов Алексей-студент из Минска,Беларусь.Веб разработчик,программист и просто хороший парень.Со мной можно связаться через почтовый ящик.  <a href="#">Написать сообщение</a>
			</div>
			<div class="card-social">
				<a href="/logout" class="btn btn-default btn-sm">Выйти</a>
			</div>
		</div>
		<div class="tasks">
			<div class="task-row">
				Активные объявления(3)
			</div>
			<div class="task-row">
				Приостановленные(2)
			</div>
			<div class="task-row">
				В черном списке(0)
			</div>
			<button type="submit" class="btn btn-success btn-lg">Добавить новое объявление</button>
			<button type="submit" class="btn btn-primary btn-lg">Изменить контактные данные</button>
		</div>
	</section>
<!-- <div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION 
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id %><br>
						<strong>username</strong>: <%= user.login %><br>
						<strong>password</strong>: <%= user.password %>
					</p>

			</div>
		</div>

	</div>

</div> -->
</body>
</html>
