<!-- views/search.ejs -->
<!doctype html>
<html lang="ru">
<head>
    <% include ../partials/head %>
</head>
<body>
	<!--header-->
    <% include ../partials/header %>
	
	<main class="widthfull">
		<% if(cat != 'none'){  %>
			<%- include(path) %>
			<% if(results == 'true'){%>
				<%- include ../partials/search-results %>
			<%}%>
		<% }else{ %>
			<% include ../partials/rent-part %>
			<% include ../partials/sell-part %>
		<%}%>
	</main>

	<!--footer-->
    <% include ../partials/footer %>
	<script type="text/javascript" src="/static/js/toggle-filters.js"></script>
</body>
</html>