<!-- views/search.ejs -->
<!doctype html>
<html lang="ru">
<head>
    <% include ../partials/head %>
</head>
<body>
	<!--header-->
    <% include ../partials/header %>

	<main>
		<% include ../partials/search-filters %>
		<% include ../partials/search-results %>
		<div class="pagination"></div>
	</main>
	<!--footer-->
    <% include ../partials/footer %>

    <script type="text/javascript" src="static/js/toggle-filters.js"></script>
</body>
</html>