<!-- views/search.ejs -->
<!doctype html>
<html lang="ru">
<head>
    <% include ../partials/head %>
</head>
<body>
	<!--header-->
    <% include ../partials/header %>
	
	<main class="widthfull">

		<% if(type == 'none'){  %>
			<% include ../partials/rent-part %>
			<% include ../partials/sell-part %>
		<% }else if(type == 'sell'){  %>
			<% include ../partials/sell-part %>
		<% } else if(type == 'rent' ) {%> 
			<% include ../partials/rent-part %>
		<% } else if(type == 'rent-living' ){%>
			



			<% include ../partials/search-filters/living-filters %>
		
			<div class="width80">
				<span>найдено результатов : <%= data.length %></span>
				<br><br>
			</div>
		
			<% include ../partials/search-results %>
		<% }else if(type == 'rent-commercial' ){%>
			



			<% include ../partials/search-filters/commercial-filters %>
		
			<div class="width80">
				<span>найдено результатов : <%= data.length %></span>
				<br><br>
			</div>
		
			<% include ../partials/search-results %>
		<% }else if(type == 'rent-outcity' ){%>
			



			<% include ../partials/search-filters/outcity-filters %>
		
			<div class="width80">
				<span>найдено результатов : <%= data.length %></span>
				<br><br>
			</div>
		
			<% include ../partials/search-results %>
		<% }%>
	</main>

	<!--footer-->
    <% include ../partials/footer %>
	<script type="text/javascript" src="/static/js/toggle-filters.js"></script>
</body>
</html>