<!-- views/search.ejs -->
<!doctype html>
<html lang="ru">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <section class="services">
        <h1>Агентство предоставляет следующие услуги:</h1>
        <br>
            
            <div class="serv-item">
                <div class="serv-img">
                    <img src="static/img/utils.jpg" >
                </div>
                <div class="serv-desc">
                <h2>Юридическая консультация</h2>
                Если вам нужен опытный юрист в Гомеле, обращайтесь – мы <br>сможем найти для вас <br>оптимальное решение.  Каждый<br> Клиент может рассчитывать на компетентную юридическую консультацию, качественную помощь в урегулировании юридических проблем, разработку практических решений и конкретного плана действий.<br>
                <div style="height: 12px;"></div>
                <button type="submit" class="btn btn-primary btn-md">Изменить контактные данные</button>
                </div>
            </div>
            <div class="serv-item">
                <div class="serv-img">
                    <img src="static/img/utils5.jpg" >
                </div>
                <div class="serv-desc">
                <h2>Услуги риэлтора</h2>
                Если вам нужен опытный риэлтор в Гомеле, обращайтесь к нам, только у нас собраны лучшие профессионалы своего дела. Каждый<br> Клиент для является важным.Вы можете рассчитывать на нас!<br>
                <div style="height: 12px;"></div>
                <button type="submit" class="btn btn-primary btn-md">Изменить контактные данные</button>
                </div>
            </div>
            <div class="serv-item">
                <div class="serv-img">
                    <img src="static/img/utils2.jpg" >
                </div>
                <div class="serv-desc">
                <h2>Помощь в подготовке бумаг</h2>
                Если вам нужен опытный юрист в Гомеле, обращайтесь – мы <br>сможем найти для вас <br>оптимальное решение.  Каждый<br> Клиент может рассчитывать на компетентную юридическую консультацию, качественную помощь в урегулировании юридических проблем, разработку практических решений и конкретного плана действий.<br>
                <div style="height: 12px;"></div>
                <button type="submit" class="btn btn-primary btn-md">Изменить контактные данные</button>
                </div>
            </div> 
            <div class="serv-item">
                <div class="serv-img">
                    <img src="static/img/utils4.jpg" >
                </div>
                <div class="serv-desc">
                <h2>Услуги онлайн поиска</h2>
                Если вам нужен опытный юрист в Гомеле, обращайтесь – мы <br>сможем найти для вас <br>оптимальное решение.  Каждый<br> Клиент может рассчитывать на компетентную юридическую консультацию, качественную помощь в урегулировании юридических проблем, разработку практических решений и конкретного плана действий.<br>
                <div style="height: 12px;"></div>
                <button type="submit" class="btn btn-primary btn-md">Изменить контактные данные</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
<script type="text/javascript">
    function toggleFilters() {
        var e = document.getElementById('morefilters');
        e.style.display = e.style.display == "block" ? "none" : "block";
    }
</script>
</body>
</html>