*{
  padding: 0;
  margin: 0;
}
html{font-size: 100%;}
body{
  font-family: 'OpenSansLight';
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  min-height: 5vh;
  /*background-color: rgba(0,0,0,0.9);*/
  
}

.main {
  text-align: left;
  background-color: #fff;
  border-top: 2px solid #eee;
}

.aside{
	background-color: #efeef3;
	flex: 1;
}

.footer {
  min-height: 20vh;
  background-color: rgba(0,0,0,0.9);
}

.navigation {
  list-style: none;
  margin: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #000;

}


.navigation {
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0;
}
  
.navigation a { 
  text-align: center; 
  padding: 10px;
  
}
.navigation li{
  -moz-box-sizing: border-box;
  border: 1px solid #fff;  
}
.navigation li:active{
  -moz-box-sizing: border-box;
  border: 1px solid #25AC5D;
  color: #fff;
}

#togglemenubtn{
  display: block;
}

#nav{
  display: block;
}

.filters{
  display: flex;
  flex-direction: column;
}

.fline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
}

.col1{
  width: 32%;
}
.col1>label>input[type="text"]{
  width: 80px;
  text-align: center;
}


.filters-btn{
  cursor: pointer;
  margin-right: 5px;
  padding: 5px 10px;
  border:solid 1px #25AC5D;
}

.filters-btn:hover{
  background-color: #25AC5D;
  color: #fff;
}

.content{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-direction: column;
}

.content-item{
  width: 100%;
  min-height: 5vh;
  background-color: #25AC5D;
  margin: 0 0 10px 0;
}

.content-item>img{
  max-width: 100%;
  height:auto;
  display: block;
  margin: auto;
}
.content-item>a>img{
  max-width: 100%;
  height:auto;
  display: block;
  margin: auto;
}
.aside{}

.pagination{
  display: flex;
  justify-content: center;
}

.pagination-item{
  display: inline-block;
  padding: 10px;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  min-width: 20px;
  min-height: 20px;
  text-align:center;
  cursor: pointer;
}

.pagination-item:hover{
  background-color: #000;
  color: #fff;
}
.pagination-item:active{
  background-color: #25AC5D;
  color: #fff;
}

.pagination-item__active{
  background-color: #000;
  color: #fff;
}

#asd::after{
  display: table;
  height: 0;
  clear: both;
  content: '';
  visibility: hidden;
}

.slider{
  width: 100%;
  height: 300px;
  background-color: #25AC5D;
  background-image: url('/static/img/slider9.png');
}


@media all and (max-width: 600px){
  #nav{display: none;}
  .aside{flex: 1 }
}
@media all and (min-width: 600px) {
  .aside { flex: 1 ;}
  .main    { flex: 3 0px; }
  .navigation {
  	flex-flow: row wrap;
    justify-content: flex-end;
  }
  #togglemenubtn{display: none;}
  #nav{display: block !important;}  

}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .main    { order: 1; }
  .aside { order: 2; }
  .footer  { order: 3; }
  #togglemenubtn{display: none;}
  #nav{display: block !important;}
  .content{
    flex-direction: row;
    justify-content: space-between;
  }
  .content-item{width: 48%;}
}

@media all and (min-width: 1000px) {
  .main    { flex: 3 0px; }
  .main    { order: 1; }
  .aside { order: 2; }
  .footer  { order: 3; }
  #togglemenubtn{display: none;}


  #nav{display: block !important;}
  .content{
    flex-direction: row;
  }
  .content-item{width: 32.9%;}
}

.offers{
  margin-top: 80px;
}

/*/////////////////////////////////////////////*/

.offer-item{
  width: 21%;
  min-height: 300px;
  /*background-color: rgba(0,0,0,0.7);*/
  float: left;
  margin-right: 25px;
}



.icon1{
  background:url('/static/img/icons/itemDiamond.png');
  
}
.icon2{
  background:url('/static/img/icons/itemSearch.png');
}
.icon3{
  background:url('/static/img/icons/itemTrash.png');
}
.icon4{
  background:url('/static/img/icons/itemLocation.png');
}
.item-icon {
  background-position: center;
  background-repeat: no-repeat;
  background:transparent,center,center,no-repeat;
  background-size: contain;
  width: 100%;
  height: 100px;
  display: block;
}

.item-title{
  margin-top: 28px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  vertical-align: top;
}

.item-description{
  margin: 12px 10px 10px 10px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  hyphens: auto;
}




.slide-description{
  box-sizing: border-box;
  width: 40%;
  height: inherit;
  padding: 17px;
  float: right;
  background-color: rgba(0,0,0,0.7);
  color: #ffffff;
  font-size: 2.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "RobotoLight";
  font-weight: lighter;
  overflow: hidden;
}






.weoffer-wrapper{
  width: 100%;
  background-color: #fff;
}
.weoffer{
  width: 80%;
  margin:0 auto;
  padding-top: 50px;
}
.headline{
  text-align: center;
  margin-bottom: 20px; 
}

.headline span{
  text-transform: uppercase;
  border-bottom: 3px solid #25AC5D;
  font-size: 30px;
  font-weight: 900;
}



.loginwrap{
  box-sizing: border-box;
  padding: 20px;
  width: 40%;
  height: 40vh;
  margin: auto;
  background-color: rgba(0,0,0,0.9);
}

.loginwrap input{
  width: 100%;
  height: 5vh;
  margin: 5px;
  text-align: center;
}
.loginbtn{
  width: 100%;
  height: 5vh;
  margin: 5px;
  text-align: center;
  background-color: #25AC5D;
  color: #fff;
  line-height: 5vh;
  cursor: pointer;
}
/*actvie login btn?*/





/*
essential styles:
these make the slideshow work
*/
#slides{
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}


.controls{
    display: none;
}


/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide{
    font-size: 40px;
    /*padding: 40px;*/
    box-sizing: border-box;
    background: #333;
    color: #fff;
  background-size: cover;
}

.slide:nth-of-type(1){
  background-color: #25AC5D;
  /*background-image: url('/img/flats/flat1.jpg');*/
  background-size: 100% 100%;
}


.slide:nth-of-type(2){
  background-color: #25AC5D;
  /*background-image: url('/img/flats/flat2.jpg');*/
  background-size: 100% 100%;
}

.slide:nth-of-type(3){
  background-color: #25AC5D;
  /*background-image: url('/img/flats/flat1.jpg');*/
  background-size: 100% 100%;
}
.slide>img{
  width: 100%;
  height: 100%;
}
.controls{
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 0px;
  font-size: 10px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 10px 0px 0px 10px;
  width: 40px;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
}

.container{
  position: relative;
}

.buttons{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  font-size: 0px;
}

.address{
  display: flex;
  text-align: center;
  padding-top: 10px;
  
}