<section class="search_filters">
	<select class="supertype">
		<option value="office">офис</option>
		<option value="shop">магазин</option>
		<option value="sklad">склад</option>
		<option value="servicesphere">сфера услуг</option>
	</select>
	<select class="type">
		<option value="">аптека</option>
		<option value="">банк</option>
		<option value="">парикмахерская</option>
		<option value="">производство</option>
		<option value="">ресторан</option>
		<option value="">салон красоты</option>
		<option value="">склад+офис</option>
		<option value="">СТО</option>
		<option value="">торговый центр</option>
		<option value="">стрит ритейл</option>
		<option value="">торговое место</option>
	</select>
	<select>
		<option>Минск</option>
		<option>гомель</option>
		<option>Брест и тд</option>
	</select>
	<label>площадь</label>
	<input type="" name="price_from" placeholder="от">
	<input type="" name="price_to" placeholder="до">
	<label>цена м2</label>
	<input type="" name="price_from" placeholder="от">
	<input type="" name="price_to" placeholder="до">

	<label>отдельный вход</label>
	<input type="checkbox" name="price_from" placeholder="от">
	
	<button>искать</button>
</section>