<section class="search_filters">
	<select name="">
		<option value="city">Город</option>
		<option value="city">определенный город?</option>
	</select>

	<select name="">
		<option value="city">Улица</option>
		<option value="city">улица?</option>
	</select>

	<select name="">
		<option value="city">Район</option>
		<option value="city">определенный город?</option>
	</select>


	<label>размер
	<input type="" name="" placeholder="от">
	<input type="" name="" placeholder="до">
	</label>


	<label>цена
	<input type="" name="" placeholder="от">
	<input type="" name="" placeholder="до">
	</label>
</section>