<section class="search_filters">
	<select name="addr_city">
		<option>Минск</option>
		<option>Гомель</option>
		<option>Брест</option>
		<option>Могилев</option>
		<option>Гродно</option>
		<option>Витебск</option>

		<%# for (var i = 0 ; i < cities.length ; i++){ %>
			<!--<option><%# cities[i].city_name %></option>-->
		<%# } %> 

	</select>

	<!-- <select name="addr_street">
			<option>Я.Коласа</option>
	</select> -->


	<label>размер m2
	<input type="" name="obj_size" placeholder="от">
	<input type="" name="obj_size" placeholder="до">
	</label>


	<input type="text" name="obj_price" placeholder="цена от" >
	<input type="text" name="obj_price" placeholder="цена до">
	
</section>