<section class="search_filters">
	<form method="post">

		<input type="text" name="object_price_from" placeholder="цена от" >
		<input type="text" name="object_price_to" placeholder="цена до">

		<select name="addr_city">
			<option value="minsk">Минск</option>
			<option value="gomel">Гомель</option>
			<option value="brest">Брест</option>
			<option value="grodno">Гродно</option>
			<option value="vitebs">Витебск</option>
			<option value="mogilev">Могилев</option>
		</select>

		<select name="addr_street">
			<option>улица?</option>
		</select>

		<select name="addr_metro">
			<option value="metro">Метро</option>
			<option value="petro">Петровщина</option>
			<option value="malina">Малиновка</option>
			<option value="grush">Грушевка</option>
		</select>

		<select name="object_rooms_number">
			<option value="1">1 комната</option>
			<option value="2">2 комнаты</option>
			<option value="3">3 комната</option>
			<option value="4">4 комнаты</option>
			<option value="4+">4+ комнаты</option>
		</select>
			
		<select name="rent_time">
			<option>длительность</option>
			<option>длительный срок</option>
			<option>сутки</option>
			<option>короткий период</option>
		</select>

		<div id="morefilters">
			<label>кондиционер</label><input type="checkbox" name="facilities_aircond">
			
			<label>посудомоечная машина
				<input type="checkbox" name="facilities_dishwasher">
			</label>

				<br>

			<label>стиральная машина
				<input type="checkbox" name="facilities_dishwasher">
			</label>

			<label>холодильник
				<input type="checkbox" name="facilities_fridge"><br>
			</label>

			<label>мебель
				<input type="checkbox" name="facilities_furniture">
			</label>

			<label>телефон
				<input type="checkbox" name="facilities_tel">
			</label>

			<label>СВЧ печь
				<input type="checkbox" name="facilities_microwave">
			</label>

			<label>WIFI
				<input type="checkbox" name="facilities_wifi">
			</label>

			<label>ТВ
				<input type="checkbox" name="facilities_tv">
			</label>

				<br>
			
			<select name="object_from">
				<option value="agency">От агентства</option>
				<option value="owner">От собственника</option>
				<option value="all">Все</option>
			</select>

			<select name="object_type">
				<option>тип</option>
				<option>студия</option>
			</select>

			<select name="object_floors_number_from">
				<option>этажность от</option>
			</select>

			<select name="object_floors_number_to">
				<option>этажность до</option>
			</select>
				
				<br>

			<label>год постройки?
				<input type="text" name="object_year_build_from" placeholder=" от ">
				<input type="text" name="object_year_build_to"   placeholder=" до">
			</label>
			
				<br>

			<label>общая площадь
				<input type="text" name="object_sq_common_from"  placeholder="от">
				<input type="text" name="object_sq_common_to"    placeholder="до">
			</label>

				<br>

			<label>жилая площадь
				<input type="text" name="object_sq_living_from" placeholder="от">
				<input type="text" name="object_sq_living_to"   placeholder="до">
			</label>
			
				<br>

			<label>площадь кухни
				<input type="text" name="object_sq_kitchen_from" placeholder="от">
				<input type="text" name="object_sq_kitchen_to"   placeholder="до">
			</label>
			
				<br>

			<label>спальных мест
				<input type="text" name="object_guests_number_from" placeholder="от">
				<input type="text" name="object_guests_number_to"   placeholder="до">
			</label>

				<br>
			
			<label>с возможностью бронирования
				<input type="checkbox" name="">
			</label>
			
				<br>

			отобразить таблицей по 3 /по 2/с картой<br>
			<hr>
		</div><!--morefilters-->
		<button type="button" class="searchbtn searchbtnR" onclick="toggleFilters()">Все фильтры</button>
		<button class="searchbtn">Искать</button>
	</form>
</section>