<section class="search_filters">
	<form method="post">
		<select name="r">
			<option value="none"><a href="search/rent">Тип не выбран</a></option>
			<option value="rent"><a href="search/rent">Аренда</a></option>
			<option value="sell"><a href="search/rent">Покупка</a></option>
			
		</select>  
		<input type="text" name="pricefrom" placeholder="цена от" >
		<input type="text" name="priceto" placeholder="цена до">
		<select name="city">
			<option value="minsk">Минск</option>
			<option value="gomel">Гомель</option>
			<option value="brest">Брест</option>
			<option value="grodno">Гродно</option>
			<option value="vitebs">Витебск</option>
			<option value="mogilev">Могилев</option>
		</select>
		<select name="metro">
			<option value="metro">Метро</option>
			<option value="petro">Петровщина</option>
			<option value="malina">Малиновка</option>
			<option value="grush">Грушевка</option>
		</select>
		<select name="room">
			<option value="1">1 комната</option>
			<option value="2">2 комнаты</option>
			<option value="3">3 комната</option>
			<option value="4">4 комнаты</option>
			<option value="4+">4+ комнаты</option>
		</select>
		<select name="agency">
			<option value="agency">От агентства</option>
			<option value="owner">От собственника</option>
			<option value="all">Все</option>
		</select>
		<div id="morefilters">
			улица дом?<br>
			сортировать по рейтингу\дате<br>
			длительность?сутки/несколкьо\длительный срок<br>
			с возможностью бронирования(да/нет)<br>
			<label for="studia">студия</label><input type="checkbox" name="" id="studia"><br>
			площади?<br>этажности<br>
		<hr>
		отобразить таблицей по 3 /по 2/с картой<br>
		всего результатов найдено :112011


		</div><!--morefilters-->
		<button type="button" class="searchbtn searchbtnR" onclick="toggleFilters()">Все фильтры</button>
		<button class="searchbtn">Искать</button>
	</form>
</section>